https://github.com/opencivicdata/pupa/archive/master.zip
https://github.com/opencivicdata/python-legistar-scraper/archive/hcg/tweaks.zip
https://github.com/datamade/scrapelib/archive/hcg/accept-response.zip
django-councilmatic==3.2
lxml
sh 
pytest==6.2.5
pytest-mock==1.10.1
requests-mock==1.5.2
requests[security]
sentry-sdk
freezegun==1.5.1
pdfplumber==0.11.3
pytesseract==0.3.10
levenshtein
